center h1 {
  font-family: cursive;
  background: steelblue;
  border-radius: 114px;

}


.content {
  background: cadetblue;
  font-size: 30px;
  font-family: fantasy;

}


img {
  padding: 10px;
  border-radius: 25px;
  max-width: 100%;
  max-height: 100%;
}

.images {
  height: 50%;
  width: 50%;
}

.second-box a {
  background: rgba(255, 0, 0, 0.4);
  text-decoration: none;
  font-size: 20px;
  padding: 7px;
  font-variant: small-caps;
  border-radius: 14px;


}

.second-box a:hover {
  background-color: #45a049;
  font-size: 25px;
}

.idea-box {
background: blanchedalmond;
}

.first-box {
  background-color: beige;
  height: 30px;
  padding: 15px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 30px;
}

.first-box a {
  font-family: monospace;
  font-size: 20px;
  float: right;
  padding-right: 50px;

}

a {
  text-decoration: none;
  padding: 10px;
}
