<link rel="stylesheet" href="/mystory/show.css" title="CSS" type="text/css"/>
<link type="text/css" rel="stylesheet" href="style.css">
<div class='magic-box'>
  <div class='first-row' id='box-1'>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-1"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-2"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-3"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-4"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-5"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-6"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-7"></img>
  </div>

  <div class='second-row'>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-8"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-9"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-10"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-11"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-12"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-13"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-14"></img>
  </div>

  <div class='third-row'>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-15"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-16"></img>
    <img src="/images/JPEG/3C.jpg" alt="Dice" class="dice" id="dice-17"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-18"></img>
    <img src="/images/JPEG/4C.jpg" alt="Dice" class="dice" id="dice-19"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-20"></img>
    <img src="/images/JPEG/2C.jpg" alt="Dice" class="dice" id="dice-21"></img>
  </div>
  <h3> Which ROW has your card? </h3>
  <button class="btn-new"><i class="ion-ios-plus-outline"></i>First</button>
  <button class="btn-roll"><i class="ion-ios-loop"></i>Second</button>
  <button class="btn-hold"><i class="ion-ios-download-outline"></i>Third</button>

</div>
