<link rel="stylesheet" href="/mystory/show.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class = 'resume-pdf'>
  <center><iframe src="https://resume.creddle.io/embed/fxibgibyzhm"seamless></iframe></center>
</div>
