
<link rel="stylesheet" href="/pages/visitor-homepage.css" title="CSS" type="text/css"/>

  <div class='visitor-nav'>
    <%= link_to 'Sign Up', new_user_path %>

    <%= link_to 'Log In', login_path %>
  </div>
