<link rel="stylesheet" href="/users/show.css" title="CSS" type="text/css"/>
<p class ='my-story'>I always was interested in science and technology as a kid. Always struggled while in
  school because of the pressure parents put. Always wanted to have a carrer where i can
  use my creative nature.</p>
