<link rel="stylesheet" href="/mystory/show.css" title="CSS" type="text/css"/>
<div class="container">
    <p class="result-check"><%=@notice%>
    <br>
    <br>
    <h4><%=link_to 'Try New One', new_game_path%>
</div>
