<link rel="stylesheet" href="/projects/index.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class='second-box'>


    <center>
      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('https://github.com/manojpanta/IdeaBox')" type="button">
          IdeaBox</button>
      </div>

      <div class='first-box1'>
        <button class='facebook' style="font-size:24px" onclick="window.open('https://github.com/manojpanta/Bike-Share')" type="button">
           BikeShare</button>
      </div>


      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('https://github.com/manojpanta/jungle_beat')" type="button">
           JungleBeat</button>
      </div>
      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('https://github.com/manojpanta/credit_check')" type="button">
          Credit Check</button> <%=link_to 'Play This!!',game_path %>
        </div>

      <div class='first-box1' id = "aa">
        <button class='facebook'style="font-size:24px" onclick="window.open('https://github.com/manojpanta/black_thursday')" type="button">
           BlackThursday</button>
      </div>

    </center>

</div>
