<link rel="stylesheet" href="/mystory/show.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = 'mystory'>
  <center>Iam at Turing School of Software and Design to fulfill my childhood dream of being a software developer.</center>
  As a kid, I was very curious about electronics and computers. Breaking electronics and computers as a kid was something I liked to do every day to see what happens behind the scenes. That actually made myself capable of fixing some minor problems with radios and computer hardwares.
  That curiosity of how things work behind the scenes brought me to software engineering and I'm hoping to make some contribution to society.
  <br>
  <br>
  <br>
  Born in very remote village of Nepal where the only means of communication used to be a radio.
  As there was not access of electricity the only way to communicate and know about rest of the world was radio.
  Breaking electronics like calculators and radios as a kid was something I liked to do everyday. Opening the radio and see all the wires and magnets working together always fascinated me.That habit actually made me able to fix minor hardware problems with radios and calculators.
  Finally, When I turned 11, we had access to electricity and roads. Now,I could see the world through TV my uncle had.
  Right after I finished my 10th grade I moved to Kathmandu. Where I could see and dream about things much more.
  After I finished my high school from Kathmandu. I applied for DV lottery which would bring me to USA in 2015.
  It wasnt as I expected but USA looked like 100 yrs ahead of where I'm from.
  <br>
  <br>
  <br>
  <br>
  Like I said, I still had that curiosity towards how electronics and computers work behind the scenes.
  I met one of the instructors from Turing School Of Software and Designs while I was driving for Lyft.
  He told me about the school.
  That night i returned home and applied for the backeend engineering course.
  I got accepted and started school in feb 2018.
  Everything was going great until when I was in 3rd module. I had a terrible motorcycle accident, that would put me in bed for next 6 months.
  Now I am back again to turing after 9 months of recovery process.

  <br>
  I am graduating this June as a Backend Engineer. And I am hoping to make some contributions to society.
</div>
