<%if current_admin?%>
<h1> Admin Categories </h1>
<%else%>
<h1> Categories </h1>
<%end%>

<% @categories.each do |c| %>
<li>
  <%=c.name%>
  <%if current_admin?%>
    <%= link_to 'Edit', edit_admin_category_path(c)%>
    <%= link_to 'Delete', admin_category_path(c), method: :delete%>
  <%end%>
</li>

<%end%>
<%if current_admin?%>
<%= link_to 'Create New Category', new_admin_category_path %>
<%end%>
