<%= link_to 'Create New Image', new_image_path %>
<% @images.each do |i| %>
  <div style="height:500px;width:100%;background:url('<%=i.url%>');background-size:cover;">
  </div>
  <%=i.title %>
  <%=link_to 'Delete', image_path(i), method: :delete %>
<%end%>
